@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

body {
    background-color: #f3ede7;
    font-family: Staatliches;
}

/* Styles for Cantrips only */

#cantrips {
    font-size: 24px;
    background-color: #8a2f2e;
    width: 102px;
    height: 32px;
    border-radius: 5px;
    padding: 5px;
    align-content: center;
    text-align: center;
    color: #f3ede7;
    margin-left: 8px;
}

/* Styles for general spell boxes */

#spells {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 25px;
}

.spellBox {
    flex: 0 1 100px;
    background-color: #c7c7c7;
    width: 280px;
    min-height: 360px;
    border-radius: 8px;
    padding: 10px;
    padding-top: 0px;
    position: relative;
}

.slotInfo {
    display: flex;
    align-items: center;
    padding: 10px;
    padding-top: 4px;
}

.spellSlotLabel {
    padding: 10px;
    padding-bottom: 0px;
}

.spellSlotLabel p {   
    font-size: 12px;
    gap: 8px;
    margin-bottom: 0;
}

.spellSlotLabel label {
    margin-right: 15px;
}

.spellLevel {
    font-size: 24px;
    background-color: #8a2f2e;
    width: 58px;
    height: 32px;
    border-radius: 5px;
    padding: 5px;
    align-content: center;
    text-align: center;
    color: #f3ede7;
}

.buttonSpell {
    position: relative;
    width: 100px;
    height: 32px;
    padding: 5px;
    left: 8px;
}

.spellSlotTotal {
    font-size: 24px;
    background-color: #5e1f28;
    width: 50px;
    height: 32px;
    border-radius: 8px;
    padding: 5px;
    align-content: center;
    text-align: center;
    color: #f3ede7;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.spellSlot {
    font-family: Staatliches;
    font-size: 24px;
    background-color: #8a2f2e;
    width: 100px;
    height: 32px;
    border-radius: 8px;
    padding: 5px;
    text-align: end;
    color: #f3ede7;
    border: none;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
}

/* Buttons */

button {
    font-size: 24px;
    background-color: #8a2f2e;
    color: #f3ede7;
    border-radius: 5px;
    border: none;
}

button:hover {
    background-color: #768a68;
    cursor: pointer;
}

button:active {
    background-color: #344628;
    transform: translateY(4px);
}

/* button for openin modal */

.openSpellModal {
    margin-left: 45px;
}

/* Button for close modal */

.closeSpellModal {
    margin-left: 75%;
    margin-top: 0px;
}

/* Button for adding spell */

.addSpell {
    max-width: fit-content;
    max-height: fit-content;
    margin-left: 2%;
}

.description {
    position: fixed;
    font-size: 20px;
    max-width: 30px;
    max-height: 26px;
    min-width: 30px;
    min-height: 26px;
}

.remove {
    position: fixed;
    font-size: 20px;
    max-width: 35px;
    max-height: 26px;
    min-width: 35px;
    min-height: 26px;
    margin-left: 40px;
}

.buttonDiv {
    display: flex;
    align-items: center;
    margin-left: 23%;
}

/* Lists */

.spellList {
    background-color: #f3ede7;
    width: 100%;
    min-height: 300px;
    border-radius: 8px;
    font-size: 17px;
}

.spellListItem {
    list-style: none;
    padding: 10px;
    margin-bottom: 0px;
}

.spellListItem li {
    padding: 10px;
    max-width: 100px;
    min-width: 100px;
}

.knownSpell {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 8px;
    border-bottom: 1px solid #878585;
}

/* Spell Modal */

dialog::backdrop {
    background-color: rgba(0,0,0,0.5);
}

dialog[open]{
    animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

.spellModal {
    border: none;
    background-color: #f3ede7;
    min-width: 600px;
    max-width: 600px;
    min-height: 800px;
    border-radius: 8px;
    padding: 20px;
}

.utilityBar {
    background-color: #c7c7c7;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-top: 0px;
}

#fromSpellClass {
    font-family: Staatliches;
    font-size: 20px;
    background-color: #f3ede7;
    border-radius: 5px;
    border-color: #878585;
}

#fromSpellClass option {
    font-family: Staatliches;
    font-size: 15px;
}

/* list of spells */

.spellDescription {
    font-family: Inconsolata;
    border: 2px solid #c7c7c7;
    padding: 20px;
    margin-top: 10px;
    border-radius: 8px;
}

.spellDescription h2 {
    font-family: Staatliches;
    font-weight: 400;
    width: 150px;
}

.spellDescription hr {
    color: #c7c7c7;
    margin: 0;
    min-width: 100%;
}

.spellDescription div {
    display: flex;
    align-items: center;
    padding-bottom: 0px;
    white-space: nowrap;
}

.spellDescription div p {
    margin-left: 50%;
    width: 500px;
}

.spellDescription nav p {
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-left: 0;
}

.spellDescription nav p img {
    margin: 10px;
    margin-left: 10px;
}






